.neck {
    width: 40px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

/* unused? */
.note {
    width: 70px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

/* unused? */
.fretslot {
    width: 70px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: wheat;
}

.fretslot::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: grey;
}

.fretslot::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 6px; /* Diameter of the dot */
    height: 6px; /* Diameter of the dot */
    background-color: black; /* Color of the dot */
    border-radius: 50%; /* Make it round */
    transform: translate(-50%, -50%); /* Center the dot */
    display: var(--dot-display, none);
}

.first-snare .fretslot {
    background: linear-gradient(to top, wheat 50%, transparent 50%);
}

.last-snare .fretslot {
    background: linear-gradient(to bottom, wheat 50%, transparent 50%);
}

.snare {
    display: flex;
}
  
.first-snare .fretslot::after {
    height: 50%;
    bottom: 0;
}

.last-snare .fretslot::after {
    height: 50%;
    top: 0;
}

.first-note::after {
    height: 50%;
    bottom: 0;
}

.last-note::after {
    height: 50%;
    top: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
}

.flex-fret {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.note-container {
    display: 'inline-block';
    width: '20px';
    height: '20px';
    line-height: '20px';
    border-radius: '50%';
    border: '1px solid grey';
    text-align: 'center';
    font-size: '12px';
    color: 'black';
    z-index: '999';
}

.activeNote {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.activeRootNote {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.fret-indicator {
    font-size: 60px;
    color: whitesmoke;
    width: 70px;
    height: 28px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 1;
} 

.fret-indicator-singledot {
    right: -29px;
}

.fret-indicator-doubledot {
    right: -22px;
}

.fret-indicator-singledot-neck-visible {
    right: 0px;
}

.fret-indicator-doubledot-neck-visible {
    right: 9px;
}

.fret-indicator-container {
    position: 'absolute';
  /*  transform: 'translateY(-460%) translateX(-3%)';*/
}

.roman-numeral {
    position: absolute;
    bottom: 15px; 
    left: 2px; 
  }